#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}



body {
  font-family: Arial, sans-serif;
  background-color: #edcc15;
  margin: 0;
  padding: 20px;
}

h2 {
  text-align: center;
  color: #333;
}

label {
  display: block;
  margin: 10px 0 5px;
  font-weight: bold;
}

select,
input[type="number"],
button {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

select:focus,
input[type="number"]:focus {
  border-color: #007bff;
  outline: none;
}

button {
  background-color: #007bff;
  color: rgb(0, 0, 0);
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #0056b3;
}

h3 {
  margin-top: 20px;
  color: #000000;
}

p {
  background-color: #e9ecef;
  padding: 10px;
  border-radius: 5px;
  text-align: center;
  font-weight: bold;
}